[type=search] {
  border-radius: 7px;
}
@media(min-width:300px)
{
#boxx{
  padding-top: 100px;
}
}

@media(min-width:800px)
{
  #boxx{
    padding-top: 0px;
  }
}
#searchnav{
 margin-top: -2.6px;
}
background-image{
  opacity: 0.1;
}
/*#search{
  margin-left: 10px;
 border-radius: 100px;
  background: rgb(10,158,147);
  color: white;
  border: 1px solid grey;
  cursor: pointer;

}*/
#searchbtn:hover {
  background: orangered;}
.nav-item:hover{
  background-color:  rgb(10,158,147);
  border-radius: 10px;
  color: white;
}
@media(min-width:300px)
{
#searchbtn{
  width: 100px;
  margin-left: 37%;

}
}
@media(min-width:500px)
{
  #searchbtn{
width: 15%;  
margin-left: 43%;

}
}
@media(min-width:800px)
{
  #searchbtn{
width: 10%;  
margin-left: 45%;

}
}
@media(min-width:300px)
{
#searchquery{
  width: 70%;
  margin-left:16% ;
}
}
@media(min-width:800px)
{
  #searchquery{
    width: 50%;
    margin-left: 25%;
  }
}
#result{
  background-color: white;
}
#newsResults{
  font-family: 'arial';
  font-weight: bolder;
  break-before: auto;
  color: darkblue;
  line-height: normal;
  
}
#break{
  margin-top: 2px;
}
@media(min-width:300px)
{
img{
  width:100%;
}
}
@media(min-width:700px)
{
  img{
    width: 500px;
  }
}